/* -----Variables*/
/*--Colores--*/
:root{
--green-color: #ABFFE3;
--blue-color:#70E7F2; 
--darkerblue-color:#37D1FE;
--letter-color:#000;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Quicksand:wght@300;700&display=swap');


html, body{
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:var(--blue-color);
  padding: 10px;
  color: white;
  font-size:14px;
}
nav ul{
  display: flex;
}

nav li{
  padding-left: 20px;
 /* Para quitarle el punto de la lista*/
  list-style: none;
}
nav li a {
  color: white;
  /* Para quitar el subrayado*/
  text-decoration: none;
}
/* Opciones del boton */
nav li a:hover{
 color:#287EA8;
}

body .hero{
  display: grid;
  grid-template-columns: 0.10fr 0.25fr 0.75fr 0.20fr; 
  grid-template-rows: [y0] 1fr [y1] 0.5fr;
  align-items: center;
  justify-items: end;
}

body .hero .main_logo img{
  position: absolute;
  width: 72px;
  margin-top: 20px;
}

body .hero .main_logo{
  margin: 0;
  justify-items: right;
  grid-row: y0 / y1;
  grid-column: 2 / 3;
}
.hero{
  padding: 40px 40px;
  height: 500px;
}

body .hero h1 {
  color: var(--letter-color);
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 88px 0px 4px;
}

body .brand_description {
  /*margin: 40px auto;*/
  text-align: center;
  grid-row: y0 / y1;
  grid-column: 3 / 4;
  margin-right: 200px;
}

body .brand_what{
  text-align: center;
  grid-row: y1 / y2;
  grid-column: 2 / 4;
  font-size: 28px;
  font-weight: 300;
  margin-right: 40px;
}
body .brand_what h3{
  font-weight: 300;
}
body .how{
  display: grid;
  grid-template-areas: "patience motivation constancy"
                       "patience_description motivation_description constancy_description";
  /*grid-template-rows: [0]56px [1]20px [2]40px [3]56px [4]20px [5]40px [6]56px [7]20px [8]40px [9]56px [10]20px [11]40px [12]56px [13]20px [14]40px; */
  grid-gap: 20px;
  background: linear-gradient(180deg, #37D1FE 0%, #ADFFE4 100%);
  align-content:baseline;
  height: 400px;
}

body .how img{
  width: 80px;
}

body .patience{
  display: grid;
  grid-area: patience; 
  justify-items: center;
}
body .patience_description{
  display: grid;
  grid-area: patience_description; 
  justify-items: center;
  text-align: center;
}
body .motivation{
  display: grid;
  grid-area: motivation; 
  justify-items: center;
}
body .motivation_description{
  display: grid;
  grid-area: motivation_description; 
  justify-content: center;
  text-align: center;
}
body .constancy{
  display: grid;
  grid-area: constancy;
  justify-items: center;
}
body .constancy_description{
  display: grid;
  grid-area: constancy_description;
  justify-items: center;
  text-align: center;
}

body .how .patience h4, .motivation h4, .constancy h4{
  margin: 0px;
}

body .learn_test{
  background: linear-gradient(180deg, #ABFFE3 0%, #37D1FE 100%);
  display: grid;
  grid-template-columns:  60px 400px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  align-content: center;
  height: 900px;
}

body .learn_test h2{
  margin: 0;
}
body .learn_test h3{
  font-weight: 300;
}
button{
  font-weight: 700;
  width: 271px;
  height: 57px;
  background: #ADFFE4;
  box-shadow: inset 0px 4px 4px rgba(34, 32, 32, 0.25);
}

body .learn_test .stress img {
  width: 42px;
}

body .cta_test{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  align-items: center;
  justify-items: center;
}

body .stress{
 grid-column: 1 / 2;
 grid-row: 2 / 3;
}
body .stress_description{
  grid-column: 2 / 3;
  grid-row: 2 /3;
  margin-right: 60px;
}
body .stress_description h3{
  margin: 0;
}

body .memory{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
body .memory img{
  width: 42px;
}
body .memory_description{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin-right: 60px;
}
body .memory_description h3{
  margin:0;
}
body .test{
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}
body .test_button{
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

body .hero h2, .learn_test h2, .hacker_style h2 {
  color: var(--letter-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size:36px;
  align-items: center;
}
body .how h4{
  font-weight: 700;
  font-size: 24px;
  align-items: center;
}
body .how p{
  font-weight: 300;
  font-size: 18px;
}

body .hero {
  background: linear-gradient(180deg, #ABFFE3 0%, #37D1FE 100%);
}

body .hacker_style{
  display: grid;
  grid-gap: 20px;
  background: linear-gradient(180deg, #37D1FE 0%, #ADFFE4 100%);
  align-content:center;
  justify-content: center;
  text-align: center;
  height: 800px;
}


.brand_image a{
  text-decoration: none;
  color: white;
}
.brand_image a:hover{
  color:#287EA8;
}
.presentacion {
  height: auto;
  background-color: var(--grey-color) ;
  padding: 5%;
  margin: 0 auto;
  display: flex;
  zoom: 1.2;
  width: 900px;
}
.presentacion_registro{
  width: 900px;
  margin: 0 auto;
  display: flex;
  padding: 5%;
}

.content{
  padding:0%;
  width: 500px;
  margin-left: 30px;
}
.login{
  width: 179px;
  margin: auto;
}
.login a{
  text-decoration: none;
  color: white;
}
.login .forgot_password {
  color: #287EA8;
}

.brand {
  display: flex;
  height: fit-content;
}

.new_register {
 background-color: white;
  padding: 1em;
  text-align: left;
  font-size: 17px;
  width: 240px;
  height: 300px;
  border: 2px solid var(--blue-color);
  box-shadow: 0 0 4px var(--letter-color);
  border-radius: 5px;
  margin-left: 10px;
}
.new_register input{
  margin-top: 5px;
  width:95% ;
}

.crear_cuenta{
  background-color: var(--blue-color);
  color: var(--grey-color);
  margin-top: 10px;
  border-radius: 5px;
}

.ingresa_button{
  background-color: var(--green-color);
  color: white;
  width: 100%;
  font-size: 15px;
  padding: 5px;
  border:none;
  margin-top: 10px; 
  border-radius: 2px;
}
.first_account{
  background: linear-gradient(180deg, #ABFFE3 0%, #37D1FE 100%);
  display: grid;
  grid-template-rows: 100px 50px 50px;
  justify-content: center;
  text-align: center;
  height: 400px;
}

.ingresa_button:hover {
  background-color: #5E9E22;

}

.crearcuenta_button{
  background-color:var(--blue-color);
  color: white;
  width: 100%;
  margin-top: 10px;
  font-size: 15px;
  padding: 5px;
  border: none;
  border-radius: 2px;
}
.crearcuenta_button:hover{
  background-color:#287EA8 ;
}
.contactame {
  margin: 0px;
  background-color: #287EA8;
  color: var(--letter-color);
  padding: 1%;
  text-align: center;
  color: white;
}
.contact{
  margin: 0 auto;
  font-size: 17px;
}
.email{
  margin-top: 20px;
  font-size: 14px;
}
label{
color: var(--letter-color);
margin-bottom: 2px;
}
.forgot_password {
  margin-top:100px;
}
input{
  display: flex;
  border: 1px solid var(--letter-color);
  border-radius: 2px;
  margin-top: 1px;
  color: var(--letter-color);
}